/**
 * Custom Posts
 */

.post-title {
    text-align: center;
}

.post-meta {
    ul {
        display: inline;
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
    }
}

.post-meta-item {
    margin: 1px 5px;
    padding: 1px 5px;
    display: inline-block;
    border: rgba($color: $grey-color, $alpha: 0.4) 1px solid;
    border-radius: 5px;

    i {
        margin-right: 0.2em;
    }

    a {
        color: inherit;
    }
}

.post-content {

    $section-start: 1;
    $section-current: $section-start;
    $section-header: post-header-lv;

    @mixin auto-index() {
        $section-next: $section-current + 1;

        counter-increment: ($section-header)-($section-current);
        counter-reset: ($section-header)-($section-next);

        &::before {
            // $section-prefix: "";
            $items: "";

            @for $x from $section-start through $section-current {
                @if $items !="" {
                    $items: $items + "\".\"";
                }

                $items: $items+"counter(#{$section-header}-#{$x})";
            }

            content: unquote($items);
            padding-right: 0.5em;
        }

        $section-current: $section-next;
    }

    margin-bottom: $spacing-unit;
    counter-reset: ($section-header)-($section-start);
    word-break: break-all;

    >p {
        text-indent: 2em;

        &:first-child {
            color: grey;
            border: rgba(0, 0, 0, 0.1) 1px solid;
            padding: 1em;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
        }

        >img {
            margin: auto;
            display: block;
            max-width: 65%;
            height: auto;
        }
    }

    blockquote {
        font-size: inherit;
        font-style: normal;
        letter-spacing: inherit;
    }

    h1 {
        @include relative-font-size(2);

        @include media-query($on-laptop) {
            @include relative-font-size(1.75);
        }

        @include auto-index();

        border-bottom: rgba($color: $grey-color, $alpha: 0.6) 3px solid;
    }

    h2 {
        @include relative-font-size(1.625);

        @include media-query($on-laptop) {
            @include relative-font-size(1.375);
        }

        @include auto-index();
    }

    h3 {
        @include relative-font-size(1.25);

        @include media-query($on-laptop) {
            @include relative-font-size(1.125);
        }

        @include auto-index();
    }

    h4 {
        @include relative-font-size(1.15);

        @include media-query($on-laptop) {
            @include relative-font-size(1.075);
        }

        @include auto-index();
    }

    h5,
    h6 {
        @include relative-font-size(1);
    }
}

/**
 * Squeeze Posts Block
 */

.archive-title {
    text-align: center;
}

.tag-cloud {
    @include relative-font-size(0.8);

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
    }
}

.post-tag {
    color: #FFF;
    background: rgba($color: red, $alpha: .6);
    padding: 0.2em 0.5em;
    margin: 0.5em 0.5em;
    border-radius: 0.2em;
    display: inline-block;

    a {
        color: inherit;
        display: inline;
    }
}

.section-seperator {
    margin: 2em 1em;
}

pre, code {
    font-size:  0.9em;
}